html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-size: calc(0.8rem + 0.3vw);
}

body {
	color: #606c76;
	margin: 0;
	padding: 1em;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.limit-width {
	max-width: 1400px;
}

h1 {
	margin: 0.5em 0;
	font-size: 2em;
}

p {
	margin: 0.5em 0;
	font-size: 1.2em;
}

a {
	color: #1C6E8C;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

strong {
	color: #D64550;
	font-weight: 600;
}

hr {
	border: 1px solid whitesmoke;
	margin: 1em 0;
}

hr.bold {
	border-width: 3px;
}


/* Code */

code,pre {
	border: 1px solid #ddd;
	border-radius: 5px;
}

code {
	padding: 0.1em 0.3em;
	font-size: 0.7em;
	display: inline-block;
	background: transparent;
}

pre {
	white-space:pre-line;
	padding: 1em;
	margin: 1em;
	font-size: 0.8em;
}

/* Button, Input */

.button, input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	/* margin: 0 0 0.5em 0; */
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

.button, button {
	cursor: pointer;
	outline: none;
	border-radius: 5px;
	background-color: whitesmoke;
	align-self: center;
	position: relative;
	display: inline-block;
}

.button:hover, button:hover {
	text-decoration: none;
}

.button.bold, input.bold, button.bold {
	padding: 0.8em 1.2em;
	margin: 0.2em 0;
	font-weight: 800;
	font-size: 1.2em;

	background-color: #D64550;
	color: white;

	border:none;
}

button:disabled {
	color: black;
	background-color: #ddd !important;
	border: 2px solid whitesmoke !important;
	cursor: default !important;
}

button:not(:disabled):active {
	background-color: whitesmoke;
}

button:focus {
	border-color: #666;
}



/* Flex */

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex-dir-reverse {
	flex-direction: row-reverse;
}

@media all and (max-width: 800px) {
	.flex-container  {
		flex-direction: column;
	}
}

/* Classes */

.mx-auto {
	margin: 0 auto;
}

.shadow {
	border-bottom: 4px solid #A9A9A9;
	border-top: 1px solid whitesmoke;

	border-left: 1px solid #D3D3D3;
	border-right: 1px solid #D3D3D3;
}
